.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.project-col {
  width: 25%;
  height: 100%;
  border: solid thin rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
}

.change-week-btn-div {
  position: relative;
  height: 100%;
  width: 30px;
}
.roadmap-borad {
  height: 100%;
  border: solid thin gray;
  border-radius: 3px;
  width: 100%;
  position: relative;
}
.feature-board {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
}
.week-board {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.next-week-button {
  position: absolute;
  right: 0;
  color: black;
  top: 50%;
}

.main-board {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.right-bordered-cell {
  border-right: solid thin rgb(230, 230, 230);
}

.feature-info-div {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  /* border-right: solid thin rgb(230, 230, 230); */
  border-right: solid thin rgb(160, 160, 160);
}

.feature-col {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.date-info-div {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.board-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 3em;
}
.date-cell {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  border: solid thin rgb(230, 230, 230);
  box-sizing: border-box;
}
.feature-board {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.feature-info-div-title {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding-left: 0.5em;
}
.feature-info-div-column {
  display: flex;
  flex: 1;
  text-align: left;
  padding-left: 0.5em;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
